<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Haxion</title>
    <!-- Styles -->
    <link rel="stylesheet" href="css/index.css">
    <!-- Import VueJs -->
    <script src="https://unpkg.com/vue/dist/vue.js"></script>
    <!-- Import Socket.io -->
    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
</head>
<body>
    <!-- Vue app -->
    <div id="app">
        <terminal></terminal>
        <irc></irc>
    </div>

    <!-- Vue templates -->
    <template id="terminal-template">
        <div class="terminal" v-on:click="focus">
            <ul>
                <li v-for="line in lines">{{ line }}</li>
            </ul>
            <span>{{ ps1 }}</span>
            <input type="text" v-on:keyup.enter="send" v-model="input" class="terminal-field">
        </div>
    </template>

    <template id="irc-template">
        <div class="irc">
            <ul>
                <li v-for="line in lines">{{ line }}</li>
            </ul>
            <div class="irc-input-cover">
                <input type="text" v-model="input" v-on:keyup.enter="send">
            </div>
        </div>
    </template>
    

    <!-- Game files -->
    <script src="js/index.js"></script>
</body>
</html>